<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="app">
        姓：<input type="text" v-model="surname">
        <br>
        名：<input type="text" v-model="name">
        <h1>
            全名：{{fullName}}
        </h1>
    </div>
</body>
<script src="./vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            surname:'',
            name:''
        },
        computed:{
            fullName(){
                return this.surname + this.name
            }
        }
    })
</script>
</html>